*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #F5F5F7;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #000;
}
a:hover
{
    color: #283cdc;
}

.hamburger, .close
{
    cursor: pointer;
}
.hamburger:hover svg path, .close:hover svg path
{
    fill: #283cdc;
}

.close
{
    display: none;
}

.header
{
    height: 80px;
}

.container  
{
    width: 1140px;
    margin: 0 auto;
}

.flex-container
{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    gap: 20px;
}

.nav__logo
{
    width: 112px;
    height: 28px;
}

.menu
{
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.hamburger__content
{
    display: none;
    background-color: #F5F5F7;
    position: absolute;
    width: 300px;
    border: 2px solid #EEEEF0;
    border-radius: 5px;
}
.hamburger__input
{
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #eee;
    padding: 20px;
    background-color: transparent;
}
.hamburger__input:focus
{
    background-color: #fff;
}
.hamburger__label
{
    position: absolute;
    top: 15px;
    right: 10px;
}

.nav-hamburger
{
    padding: 15px;
}
.menu-hamburger
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}